<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Analysis Rules" Description="The code analysis rules used for the Health App C# Projects." ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2146" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Health.CodeAnalysis.HealthAnalyzers" RuleNamespace="Microsoft.Health.CodeAnalysis.HealthAnalyzers">
    <Rule Id="HA2005" Action="None" />
    <Rule Id="HA5001" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1129" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1504" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>